/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@---------반응형---------@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
@media (min-width: 901px) { /*175 이전*/
    .change_container {
        /* background-color: red; */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 500px;
    }
    .change_pwd_container_title{
        display: flex;
        justify-content: center;
        align-items: center;

        font-family: 'IBM Plex Sans KR', sans-serif;
        font-size: 25px;
        font-weight: bold;
        color: #262752;
    }
    .change_pwd_container_1 input{
        position: relative;
        height: 55px;
        width: 480px;

        left: 50%;
        transform: translate(-50%);

        outline: none;
        border: 2px solid #cdcdcd;
        border-radius: 5px;

        margin-top: 15px;
        padding-left: 10px;

        font-family: 'IBM Plex Sans KR', sans-serif;
        font-size: 15px;
        font-weight: bold;
        color: #262752;
    }
    .change_pwd_container_2 input{
        position: relative;
        height: 55px;
        width: 480px;

        left: 50%;
        transform: translate(-50%);

        outline: none;
        border: 2px solid #cdcdcd;
        border-radius: 5px;

        margin-top: 10px;
        padding-left: 10px;

        font-family: 'IBM Plex Sans KR', sans-serif;
        font-size: 15px;
        font-weight: bold;
        color: #262752;
    }
    .change_button_container{
        /* background-color: aqua; */
        display: flex;
        justify-content: space-between;
        
        margin-top: 20px;
        height: 55px;
        width: 495px;

        margin-left: 2.5px;
        
    }
    .change_button_container_cancel{
        background-color: #262752;
        height: 100%;
        width: 242px;
        
        display: flex;
        justify-content: center;
        align-items: center;

        color: #ffffff;
        font-family: 'IBM Plex Sans KR', sans-serif;
        font-size: 17px;
        font-weight: bold;
        cursor: pointer;

        border-radius: 5px;
    }
    .change_button_container_login_1{
        background-color: #262752;
        height: 100%;
        width: 242px;
        
        display: flex;
        justify-content: center;
        align-items: center;

        color: #ffffff;
        font-family: 'IBM Plex Sans KR', sans-serif;
        font-size: 17px;
        font-weight: bold;
        cursor: pointer;

        border-radius: 5px;
    }
    .change_button_container_login_2{
        background-color: #e5e5e5;
        height: 100%;
        width: 242px;
        
        display: flex;
        justify-content: center;
        align-items: center;

        color: #ffffff;
        font-family: 'IBM Plex Sans KR', sans-serif;
        font-size: 17px;
        font-weight: bold;
        cursor: pointer;

        border-radius: 5px;
    }


}