@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Jua&family=Roboto&family=Single+Day&display=swap');
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@---------반응형---------@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
@media (min-width: 901px) { /*175 이전*/
    .search_pwd_container {
        /* background-color: #4630a8; */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 500px;
    }

    .search_pwd_container_title{
        display: flex;
        justify-content: center;
        align-items: center;

        font-family: 'IBM Plex Sans KR', sans-serif;
        font-size: 25px;
        font-weight: bold;
        color: #262752;
    }
    .search_pwd_container_email_container{
        /* background-color: aquamarine; */
        display: flex;
        height: 55px;
        width: 497px;
        border: 2px solid #cdcdcd;
        border-radius: 6px;

        margin-top: 20px;
    }
    .search_pwd_container_email_container input{
        position: relative;
        height: 50x;
        width: 425px;


        outline: none;
        border: none;
        border-radius: 5px 0px 0px 5px;
        padding-left: 10px;

        font-family: 'IBM Plex Sans KR', sans-serif;
        font-size: 15px;
        font-weight: bold;
        color: #262752;
    }
    .search_pwd_container_email_container button{
        position: relative;
        height: 50x;
        width: 60px;

        border: none;
        border-radius: 0px 5px 5px 0px;

        font-family: 'IBM Plex Sans KR', sans-serif;
        font-size: 15px;
        font-weight: bold;
        color: #262752;
    }
    .mail_receive_code_container{
        position: relative;
        /* background-color: aqua; */
        height: 35px;
        width: 200px;

        width:fit-content;
        margin-top: 10px;
        border-bottom: 2px solid #cdcdcd;

        display: flex;

        left: 50%;
        transform: translate(-50%);
    }
    .mail_receive_code_container input{
        /* background-color: red; */
        outline: none;
        border: none;

        display: flex;
        justify-content: center;
        align-items: center;
        width: 160px;

        font-family: 'IBM Plex Sans KR', sans-serif;
        font-size: 13px;
        font-weight: bold;
        color: #262752;

        text-align: center;

    }
    .mail_receive_code_container button{
        height:100%;
        width: 40px;
        
        background: none;
        outline: none;
        border: none;

        display: flex;
        justify-content: center;
        align-items: center;

        font-family: 'IBM Plex Sans KR', sans-serif;
        font-size: 13px;
        font-weight: bold;
        color: #262752;
        cursor: pointer;
    }
    .stop_search_pwd_container{
        /* background-color: aqua; */

        height: 55px;
        display: flex;
        justify-content: space-between;

        margin-top: 20px;
    }
    .stop_search_pwd_container_button_1{
        background-color: #262752;
        height: 100%;
        width: 245px;
        
        display: flex;
        justify-content: center;
        align-items: center;

        color: #ffffff;
        font-family: 'IBM Plex Sans KR', sans-serif;
        font-size: 17px;
        font-weight: bold;
        cursor: pointer;

        border-radius: 5px;
    }

    .stop_search_pwd_container_button_2{
        background-color: #e5e5e5;
        height: 100%;
        width: 245px;
        
        display: flex;
        justify-content: center;
        align-items: center;

        color: #ffffff;
        font-family: 'IBM Plex Sans KR', sans-serif;
        font-size: 17px;
        font-weight: bold;
        cursor: pointer;

        border-radius: 5px;
    }

}