@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Jua&family=Roboto&family=Single+Day&display=swap');

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@---------반응형---------@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
@media (min-width: 901px) { /*175 이전*/
    .home_main_container{
        position: absolute;
        /* background-color: aquamarine; */
        height: 280px;
        width: 1000px;
    
        left:50%;
        transform: translate(-50%);
    
        display: flex;
    }
    .home_main_container_c1{
        /* background-color: #8687ab; */
        height: 70%;
        width: 600px;
        margin-top: 35px;
    }
    .home_main_container_c1_logo{
        width: 450px;
        height: 70px;
    }
    .home_main_container_c1_logo img{
        height: 100%;
        width: 100%;
    }
    .home_main_container_c1_contents_1{
        color: #262752;
        margin-top: 10px;
        font-size: 23px;
        font-weight: bold;
        font-family: 'IBM Plex Sans KR', sans-serif;
    }
    .home_main_container_c1_contents_2{
        color: #262752;
        margin-top: 6px;
        font-size: 14px;
        font-weight: bold;
        font-family: 'IBM Plex Sans KR', sans-serif;
    }
    .home_main_container_c1_btn_container{
        /* background-color: #3d26a7; */
        height: 40px;
        width: 300px;
        margin-top: 14px;
    
        display: flex;
        justify-content: space-between;
    }
    .home_main_container_c1_btn_container div{
        background-color: #262752;
        height: 100%;
        width: 147px;
    
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
    
        font-size: 16px;
        font-weight: bold;
        font-family: 'IBM Plex Sans KR', sans-serif;
    
        border-radius: 5px;
    
    }
    .home_main_container_c2{
        /* background-color: #6a6bbb; */
        height: 70%;
        width: 400px;
    }
    .home_main_container_c2 img{
        height: 100%;
        width: 100%;
        margin-top: 35px;
    }
    /*리스트*/
    .home_board_list_body{
        position: absolute;
        background-color: #f9f9f9;

        height: 1500px;
        width: 100%;
        margin-top: 260px;
        flex-wrap: wrap;    
    }
    .home_board_search{
        position: relative;
        /* background-color: #262752; */
        height: 40px;
        width: 1000px;
        
        left: 50%;
        transform: translate(-50%);

        display : flex;
        margin-top: 10px;
    }
    .home_board_search_c1{
        height: 100%;
        width: 500px;

        display: flex;
    }
    .home_board_search_c1_btn_on{
        /* background-color: #b9ac33; */
        height: 38px;
        width: 500px;

        display: flex;
        justify-content: center;
        align-items: center ;

        color: #454545;
        font-size: 12px;
        font-weight: bold;
        font-family: 'IBM Plex Sans KR', sans-serif;

        border: none;
        border-bottom: 2px solid #989898;
        cursor: pointer;
    }
    .home_board_search_c1_btn_off{
        /* background-color: #b9ac33; */
        height: 38px;
        width: 500px;

        display: flex;
        justify-content: center;
        align-items: center ;

        color: #bfbfbf;
        font-size: 12px;
        font-family: 'IBM Plex Sans KR', sans-serif;

        border: none;
        border-bottom: 2px solid #f9f9f9;  
        cursor: pointer;
    }
    .home_board_search_c2{
        /* background-color: #52d263; */
        height: 38px;
        width: 399px;
        display : flex;
        margin-left: 100px;

        border: 1px solid #989898;
        border-radius: 7px;
    }
    .home_board_search_c2 input{
        border-radius: 7px 0px 0px 7px;
        width: 320px;
        outline: none;
        border: none;
        padding-left: 10px;
    }
    .home_board_search_c2 button{
        width: 80px;
        border-radius: 0px 7px 7px 0px;
        border: none;
        border-left: 1px solid #989898;
        color: #454545;
        font-size: 13px;
        font-weight: bold;
        font-family: 'IBM Plex Sans KR', sans-serif; 
        cursor: pointer;   
    }
    /*헤시테그*/
    .home_board_hashtag{
        position: relative;
        /* background-color: #262752; */
        height: 30px;
        width: 1000px;
        
        left: 50%;
        transform: translate(-50%);

        display : flex;
        margin-top: 20px;
    }
    .list_1{
        /* background-color: #614eb7; */
        height: 100%;
        width: 899px;
        border-radius: 5px;
        
        display: flex;
        justify-content: space-between;
    }
    .none_click_list_tag{
        background-color: rgb(255, 255, 255);
        height: 28.5px;
        width: 90px;

        display:flex;
        align-items: center;
        justify-content: center;

        color: #9c9c9c;
        font-size: 12px;
        font-weight: bold;
        font-family: 'IBM Plex Sans KR', sans-serif; 
        cursor: pointer; 
        
        border: 1.5px solid #9c9c9c;
        border-radius: 8px;
    }
    .click_list_tag{
        background-color: #262752;
        height: 28.5px;
        width: 90px;

        display:flex;
        align-items: center;
        justify-content: center;

        color: #ffffff;
        font-size: 12px;
        font-weight: bold;
        font-family: 'IBM Plex Sans KR', sans-serif; 
        cursor: pointer; 
        
        border: 1.5px solid #9c9c9c;
        border-radius: 8px;
    }
    .select_more_hastag{
        background-color: #ffffff;
        height: 28.5px;
        width: 30px;
        border: 1.5px solid #9c9c9c;
        border-radius: 8px;

        display:flex;
        align-items: center;
        justify-content: center;

        color: #4d4d4d;
        font-size: 12px;
        font-weight: bold;
        font-family: 'IBM Plex Sans KR', sans-serif; 
        cursor: pointer;
        
        margin-left: 68px;
    }
    .list_2{
        position: relative;
        /* background-color: #262752; */
        height: 30px;
        width: 1000px;
        
        left: 50%;
        transform: translate(-50%);

        display : flex;
        justify-content: space-between;

        margin-top: 10px;
    }
    .list_3{
        position: relative;
        /* background-color: #262752; */
        height: 30px;
        width: 596px;
        
        margin-left: -202px;
        left: 50%;
        transform: translate(-50%);

        display : flex;
        justify-content: space-between;

        margin-top: 10px;
    }
    /*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@22
    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    @@@@@@@@@@@@@@@2222*/

    /*게시물 리스트*/
    .board-list-container{
        position: relative;
        /* background-color: #f9f9f9; */
        width:1070px;

        display: flex;
        flex-wrap: wrap;
        margin-top: 5px;
        left: 50%;
        transform: translate(-50%);
        
    }

    .board-list{
        position: relative;
        background-color: #ffffff;
        width: 312px;
        height: 290px;
        margin-top: 17px;
        margin-left: 33.5px;

        font-family: 'IBM Plex Sans KR', sans-serif;
        font-weight: bold;
        font-size: 20px;
        /* color: rgb(255, 255, 255); */

        border-radius: 5px;
        border: none;
        cursor: pointer;

        box-shadow: 5px 5px 10px 0 rgb(196, 196, 196);
    }
    .board-list:hover{
        filter: brightness(80%);
    }
    .board-list_c1{
        /* background-color: aquamarine; */
        height: 130px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-radius: 5px 5px 0px 0px;
    }

    .board-list_c2{
        width: 282px;
        /* background-color: rgb(0, 30, 255);  */
        margin-left: 15px;

        font-family: 'IBM Plex Sans KR', sans-serif;
        font-size: 15px;
        font-weight: bolder;
        color: #262752;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    .board-list_c3{
        width: 285px;
        /* background-color: rgb(139, 33, 137);  */
        margin-left: 15px;

        font-family: 'IBM Plex Sans KR', sans-serif;
        font-size: 12px;
        font-weight: bold;
        color: #454545;

        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;

    }
    .board-list_c4{
        position: absolute;
        height: 25px;
        width: 210px;
        /* background-color: rgb(94, 227, 125); */
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        margin-left: 15px;
    }
    .board-list_c4_2{
        position: absolute;
        height: 25px;
        width: 170px;
        /* background-color: rgb(43, 130, 64); */
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        margin-left: 15px;
    }
    .board-list_c4_3{
        position: absolute;
        height: 25px;
        width: 260px;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        margin-left: 15px;       
    }
    .board-list_c4_4{
        position: absolute;
        height: 25px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin-top: 10px;
    }

    .board-list_c4_tag{
        background-color: #262752;
        height: 25px;
        width: 80px;
        border-radius: 5px;

        font-family: 'IBM Plex Sans KR', sans-serif;
        font-size: 12px;
        font-weight: bold;
        color: #ffffff;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .board-list_c4_tag_end{
        font-family: 'IBM Plex Sans KR', sans-serif;
        font-size: 15px;
        font-weight: bold;
        color: #454545;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    .board-list_c5{
        position: absolute;
        /* background-color: #454545; */
        width: 100%;
        height: 17px;
        margin-top: 55px;

        display : flex;
    }
    .board-list_c5_c1{
        width: 120px;
        /* background-color: #b9ac33; */
        height: 100%;
        display: flex;
        margin-left: 13px;
    }
    .board-list_c5_c1 img{
        height: 15px;
        width: 16px;
        margin-top: 1px;  
    }
    .board-list_c5_c1 div{
        margin-left: 3px;
        font-family: 'IBM Plex Sans KR', sans-serif;
        font-size: 10px;
        font-weight: bold;
        color: #454545;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    .board-list_c5_c2{
        width: 40px;
        /* background-color: #b9ac33; */
        height: 100%;
        display: flex;
        margin-left: 90px;
    }
    .board-list_c5_c2 img{
        height: 15px;
        width: 15px;
        margin-top: 1px;
    }
    .board-list_c5_c2 div{
        margin-top: 1px;
        margin-left: 2px;
        font-family: 'IBM Plex Sans KR', sans-serif;
        font-size: 10px;
        font-weight: bold;
        color: #454545;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    .board-list_c5_c3{
        width: 40px;
        /* background-color: #b9ac33; */
        height: 100%;
        display: flex;
    }
    .board-list_c5_c3 img{
        height: 15px;
        width: 15px;
        margin-top: 2px;
    }
    .board-list_c5_c3 div{
        margin-top: 1px;
        margin-left: 2px;
        font-family: 'IBM Plex Sans KR', sans-serif;
        font-size: 10px;
        font-weight: bold;
        color: #454545;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}