/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@---------반응형---------@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
@media (min-width: 901px) { /*175 이전*/
    .board_object_body{
        /* background-color: #ffffff11; */
    }
    /*헤더*/
    .board_object_header{
        background: linear-gradient(135deg, #3d26a7, #3f28a7, #3e2e87, #43328d, rgb(57, 36, 147));
        height: 50px;
        width: 100%;
        box-shadow: 0px 0px 5px rgb(0, 0, 0), 0px 0px 5px rgb(72, 72, 72);

        display: flex;
        justify-content: space-between;
    }
    .board_object_header_c1{

        /* background-color: aqua; */
        height: 100%;
        width: 65px;
        margin-left: 10px;
    }
    .board_object_header_c1_logo{
        height: 100%;
        width: 100%;
    }
    .board_object_header_c2{
        /* background-color: aqua; */
        width: 195px;

        display: flex;
        justify-content: space-evenly;

        margin-right: 10px;
    }
    .board_object_header_c2_b1{
        height: 20px;
        width: 80px;
        border: 3px solid;
        border-radius: 10px;
        border-color: #ffffff;

        color: #ffffff;
        font-weight: bold;
        font-size: 80%;

        display: flex;
        justify-content: center;
        margin-top: 11px;
        padding-top: 3px;
        cursor: pointer;
    }
    .board_object_header_c2_b2{
        height: 20px;
        width: 80px;
        border: 3px solid;
        border-radius: 10px;
        border-color: #ffffff;

        color: #ffffff;
        font-weight: bold;
        font-size: 80%;

        display: flex;
        justify-content: center;
        margin-top: 11px;
        padding-top: 3px;
        cursor: pointer;
    }
    .board_object_header_c2_b3{
        height: 25px;
        width: 25px;
        margin-top: 12px;
    }
    .board_object_header_c2_b3 img{
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
    /*게시글 정보, 제목, 해시테그 컨테이너*/
    .board_info_title_hashtag_container{
        position: relative;
        background: linear-gradient(135deg, #3d26a7, #3f28a7, #3e2e87, #43328d, rgb(57, 36, 147));
        width: 900px;
        left: 50%;
        transform: translate(-50%);
        padding: 20px;
        margin-top: 80px;
        border-radius: 20px;
        box-shadow: 0px 0px 5px rgb(0, 0, 0);
        z-index: 1;
    }
    /*제목*/
    .board_object_title{
        position: relative;
        /* background-color: aqua; */
        /* height: 100px; */
        width: 700px;
        margin-top: 20px;
        left: 50%;
        transform: translate(-50%);

        white-space: normal;
        word-wrap: break-word;

        font-size: 44px;
        font-weight: bold;
        color: #ffffff;

        justify-content: center;
        align-items: center;
        display: flex;
        
    }
    .board_object_title_edit{
        outline: none;
        border: none;
        width: 300px;
        height: 30px;
        font-size: 20px;
        border-radius: 10px;
        justify-content: center;
        display: flex;
        align-items: center;
        padding: 5px;
        box-shadow: 0px 0px 30px 0px rgba(255, 0, 242, 0.987), 0px 0px 30px 0px rgba(255, 0, 195, 0.987);
    }
    .board_object_content_edit{
        height: 200px;
        width: 96.5%;
        border: none;
        resize: none; 
        outline: none;
        padding: 10px;
        font-size: 15px;
        font-weight: bold;
        border-radius: 10px;
        box-shadow: 0px 0px 30px 0px rgba(255, 0, 242, 0.987), 0px 0px 30px 0px rgba(255, 0, 195, 0.987);

    }
    .board_object_tool_edit_1{
        background-color: #ffffff0e;
        height: 77px;
        width: 50px;
        font-size: 16px;
        border-radius: 50px 50px 0px 0px;
        border: none;

        margin-left: 10px;
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 10px;
        font-weight: bold;
        color: #fff;
        margin-top: 10px;
        
    }
    .board_object_tool_edit_1:hover{
        background-color: #82828246;
    }
    .board_object_tool_edit_2{
        background-color: #ffffff0e;
        height: 77px;
        width: 50px;
        font-size: 16px;
        border-radius: 0px 0px 50px 50px ;
        border: none;

        margin-left: 10px;
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 10px;
        font-weight: bold;
        color: #fff;
        margin-top: 10px;
    }
    .board_object_tool_edit_2:hover{
        background-color: #82828246;
    }
    .board_object_hashtag{
        position: relative;
        /* background-color: rgb(124, 124, 124); */
        width: 720px;
        left: 50%;
        transform: translate(-50%);
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-between; */
    }
    .board_object_hashtag div{
        background-color: #0c0c0c31;
        height: 30px;
        width: 91.2px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        margin-top: 10px;
        
        font-size: 12px;
        font-weight: bold;
        color: #ffffff;
        margin-left: 10px;
        
    }
    /*편집모드*/
    .board_object_hashtag_edit_mode{
        position: relative;
        /* background-color: rgb(124, 124, 124); */
        width: 600px;
        left: 50%;
        transform: translate(-50%);
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
    }
    .board_object_hashtag_edit_mode div{
        height: 30px;
        width: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        margin-top: 10px;
        
        font-size: 12px;
        font-weight: bold;
        color: #5f5f5f;
        margin-left: 9px;
        cursor: pointer;
    }

    /*게시글 정보*/
    .board_object_info{
        position: relative;
        background-color: rgba(0, 0, 0, 0.137);
        height: 40px;
        width: 210px;
        margin-top: 20px;
        left: 50%;
        transform: translate(-50%);
        border-radius: 10px;
        display: flex;
        justify-content: space-evenly;
    }
    .board_object_info_owner{
        /* background-color: #251666; */
        /* width: 200px; */
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        color: #ffffff;
        font-size: 12px;
        font-weight: bold;
    }
    .board_object_info_edit_container{
        height: 100%;
        /* display: flex;
        justify-content: space-between; */
        margin-top: 4px;
        
    }
    .board_object_info_edit_container div{
        /* background-color: #171521; */
        margin-top: 9px;
        /* width: 100px; */
        display: flex;
        justify-content: center;
        align-items: center;

        font-weight: bold;
        color: #ffffff;
        font-size: 12px;
    }
    
    /*구분라인*/
    .board_object_line{
        position: relative;
        background-color: rgb(124, 124, 124);
        height: 1px;
        width: 915px;
        
        margin-top: 20px;
        left: 50%;
        transform: translate(-50%);
    }
    /*그래프*/
    .board_object_chart_container{
        position: relative;
        background-color: #f3f3f3;
        border-radius: 20px;
        width: 900px;
        left: 50%;
        transform: translate(-50%);
        padding: 20px;
        margin-top: 10px;
        /* box-shadow: 0px 0px 4px rgb(57, 57, 57); */
    }
    /* .board_object_graph{
        position: relative;
        background-color: rgb(170, 48, 48);
        height: 300px;
        width: 600px;
        
        margin-top: 20px;
        left: 50%;
        transform: translate(-50%);   
        box-shadow: 0px 0px 1px 0px rgb(0, 0, 0), 0px 0px 1px 0px rgb(0, 0, 0);

    }
    .board_object_graph img{
        width: 100%;
        height: 100%;
    } */
    /*내용*/
    .board_object_content{
        position: relative;
        /* background-color: rgb(114, 42, 42); */
        width: 912px;
        
        margin-top: 20px;
        left: 50%;
        transform: translate(-50%);   

        border-left: 7px solid #372978; /* 왼쪽 경계선의 굵기와 색상을 설정합니다. */
        padding-left: 10px;
        font-weight: bold;
        font-size: 17px;
        z-index: 1;
    }
    /*댓글 작성*/
    .board_object_commentwrite{
        position: relative;
        /* background-color: rgb(170, 48, 48); */
        height: 50px;
        width: 915px;
        padding: 10px;
        
        margin-top: 20px;
        left: 50%;
        transform: translate(-50%);   
    }
    .board_object_commentwrite_input{
        width: 100%; /* 부모 요소의 넓이에 맞게 조절 */
        resize: none; /* 사용자가 크기 조절하지 못하도록 비활성화 */
        outline: none;

        overflow: hidden; /* 내용이 넘칠 경우 숨김 처리 */
        min-height: 10px; /* 최소 높이 설정 */
        box-sizing: border-box; /* 패딩과 테두리를 포함한 크기 계산 */

        font-size: 13px;
        font-weight: bold;
        border: 2px solid #28005f; /* 테두리 색상을 여기에 지정합니다 */
        background-color: rgb(255, 255, 255);

        padding: 10px;
    }
    /*댓글 작성 버튼*/
    .board_object_commentwrite_btn{
        position: relative;
        height: 30px;
        width: 100px;
        margin-left: 408px;
        left: 50%;
        transform: translate(-50%);   
        cursor: pointer;


        background: linear-gradient(135deg, #3d26a7, #3f28a7, #3e2e87, #43328d, rgb(57, 36, 147));
        border-radius: 5px;
        border: none;
        color: #fff;
        font-size: 12px;
        font-weight: bold;
    }
    .board_object_commentwrite_btn:hover{
        background: linear-gradient(135deg, #05001a, #0d0042, #05001a);
    }
    /*댓글 리스트*/
    .board_view_review_container{
        position: relative;
        /* background-color: rgb(170, 48, 48); */

        width: 920px;
        
        margin-top: 10px;
        left: 50%;
        transform: translate(-50%); 
    }
    .board_view_review_container_list{
        /* background-color: #15004011; */
        /* background-color: aquamarine; */
        border-bottom: 2px solid #c5c5c5; /* 왼쪽 경계선의 굵기와 색상을 설정합니다. */
        /* height:65px; */
        width: 100%;
        margin-top: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .board_view_review_container_list_container{
        /* background-color: aqua; */
        width: 100%;
        /* display: flex; */
        /* justify-content: space-evenly; */
    }
    .board_view_review_container_first_line{
        display: flex;
        justify-content: space-between;
    }
    .board_view_review_container_list_1{
        /* background-color: #240b55f5; */
        height:20px;
        margin-left: 10px;
        font-size: 15px;
        font-weight: bold;
        color: #050505;

    }
    .board_view_review_container_list_3{
        /* background-color: #433264f5; */
        /* width: 200px; */

        font-size: 10px;
        color: #848484;
        margin-top: 5px;
        margin-left: 10px;
        font-weight: bold;

    }
    .board_view_review_container_list_3_btn_container{
        display: flex;
    }
    .board_view_review_container_list_3_btn_container_no_owner{
        display: none;
    }

    .board_view_review_container_list_container_btn{
        /* background-color: #240b55f5; */
        /* width: 100px; */
        background: none;
        height:20px;     
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        font-weight: bold;
        color: #000000;
    }
    .board_view_review_container_list_container_btn:hover{
        color: #a7a3d3;

        cursor: pointer;
    }
    .board_view_review_container_list_4{
        position: relative;

        /* background-color: #0000000f; */
        width: 908px;
        /* height:40px; */
        border-radius: 0px 0px 5px 5px;
        
        font-size: 15px;
        font-weight: bold;
        margin-top: 10px;
        margin-left: 8px;


        white-space: pre-wrap;
        word-break: break-word;
    }
    .board_object_footer{
        position: relative;
        /* background-color: #372978; */
        height: 300px;
        width: 600px;
        margin-top: 100px;
        left: 50%;
        transform: translate(-50%);   
    }
    /*푸터*/
    .board_object_footer_c1{
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 17px;
        font-weight: bold;
    }
    .board_object_footer_c2{
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 13px;
        font-weight: bold;
        color: #2d2d2d;
    }
    .board_object_footer_c3{
        background-color: #372978;
        height: 100px;
        width: 110px;

        font-size: 17px;
        font-weight: bold;
        margin-left: 245px;
    }
    /*고정 컨테이너*/
    .board_object_tool{
        position: fixed;
        background: linear-gradient(135deg, #3d26a7, #3f28a7, #3e2e87, #43328d, rgb(57, 36, 147));
        width: 70px;
        height: 185px;
        top: 50%;
        left: 90%;
        transform: translate(-50%, -50%);
        border-radius: 50px;
        box-shadow: 0px 0px 3px rgb(0, 0, 0);
        z-index: 1;
    }
    .board_object_tool_c1_btn{
        background-color: #ffffff0e;
        height: 50px;
        width: 50px;
        font-size: 16px;
        border-radius: 50px;
        border: none;

        margin-left: 10px;
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 10px;
        font-weight: bold;
        color: #fff;
        margin-top: 10px;

    }
    .board_object_tool_c1_btn:hover{
        background-color: #82828246;
    }
    .no_board_object_tool_c1_btn{
        background-color: #00000019;
        height: 50px;
        width: 50px;
        font-size: 16px;
        border-radius: 50px;
        border: none;

        margin-left: 10px;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 10px;
        font-weight: bold;
        color: #959595;
        margin-top: 10px;
    }
    .board_object_tool_c2_btn{
        background-color: #ffffff0e;
        height: 50px;
        width: 50px;
        font-size: 16px;
        border-radius: 50px;
        border: none;

        margin-left: 10px;
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 10px;
        font-weight: bold;
        color: #fff;
        margin-top: 10px;
    }
    .board_object_tool_c2_btn:hover{
        background-color: #82828246;
    }
    .no_board_object_tool_c2_btn{
        background-color: #00000019;
        height: 50px;
        width: 50px;
        font-size: 16px;
        border-radius: 50px;
        border: none;

        margin-left: 10px;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 10px;
        font-weight: bold;
        color: #959595;
        margin-top: 10px;
    }
    .star{
        width: 40px;
        height: 40px;
        margin-left: 15px;
        margin-top: 10px;
        cursor: pointer;
    }
    .boardedit_mode_background{
        position: fixed;
        background-color: #000000c3;
        height: 100vh;
        width: 100%;

        top : 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        z-index: 0;
    }
}
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@---------반응형---------@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
@media (max-width: 900px) { /*175 이후*/
    .board_object_body{
        /* background-color: #fcffa8; */
    }
    /*헤더*/
    .board_object_header{
        background: linear-gradient(135deg, #3d26a7, #3f28a7, #3e2e87, #43328d, rgb(57, 36, 147));
        height: 50px;
        width: 100%;
        box-shadow: 0px 0px 5px rgb(0, 0, 0), 0px 0px 5px rgb(72, 72, 72);

        display: flex;
        justify-content: space-between;
    }
    .board_object_header_c1{
        /* background-color: aqua; */
        height: 100%;
        width: 65px;
        margin-left: 5px;
    }
    .board_object_header_c1_logo{
        height: 100%;
        width: 100%;
    }
    .board_object_header_c2{
        /* background-color: aqua; */
        width: 200px;

        display: flex;
        justify-content: space-evenly;

    }
    .board_object_header_c2_b1{
        height: 20px;
        width: 70px;
        border: 3px solid;
        border-radius: 10px;
        border-color: #ffffff;

        color: #ffffff;
        font-weight: bold;
        font-size: 80%;

        display: flex;
        justify-content: center;
        margin-top: 10px;
        padding-top: 3px;
        cursor: pointer;
    }
    .board_object_header_c2_b2{
        height: 20px;
        width: 70px;
        border: 3px solid;
        border-radius: 10px;
        border-color: #ffffff;

        color: #ffffff;
        font-weight: bold;
        font-size: 80%;

        display: flex;
        justify-content: center;
        margin-top: 10px;
        padding-top: 3px;
        cursor: pointer;
    }
    .board_object_header_c2_b3{
        height: 25px;
        width: 25px;
        margin-top: 10px;
    }
    .board_object_header_c2_b3 img{
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
    /*게시글 정보, 제목, 해시테그 컨테이너*/
    .board_info_title_hashtag_container{
        position: relative;
        background: linear-gradient(135deg, #3d26a7, #3f28a7, #3e2e87, #43328d, rgb(57, 36, 147));
        width: 230px;
        left: 50%;
        transform: translate(-50%);
        padding: 20px;
        margin-top: 30px;
        border-radius: 20px;
        box-shadow: 0px 0px 5px rgb(0, 0, 0);
        z-index: 1;
    }
    /*제목*/
    .board_object_title{
        position: relative;
        /* background-color: aqua; */
        /* height: 100px; */
        width: 240px;
        margin-top: 20px;
        left: 50%;
        transform: translate(-50%);

        white-space: normal;
        word-wrap: break-word;

        font-size: 15px;
        font-weight: bold;
        color: #ffffff;

        justify-content: center;
        align-items: center;
        display: flex;
    }
    .board_object_hashtag{
        position: relative;
        /* background-color: rgb(124, 124, 124); */
        width: 240px;
        left: 50%;
        transform: translate(-50%);
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-between; */
    }
    .board_object_title_edit{
        outline: none;
        border: none;
        width: 300px;
        height: 30px;
        font-size: 20px;
        border-radius: 10px;
        justify-content: center;
        display: flex;
        align-items: center;
        padding: 5px;
        box-shadow: 0px 0px 30px 0px rgba(255, 0, 242, 0.987), 0px 0px 30px 0px rgba(255, 0, 195, 0.987);
    }
    .board_object_content_edit{
        height: 200px;
        width: 91%;
        border: none;
        resize: none; 
        outline: none;
        padding: 10px;
        font-size: 15px;
        font-weight: bold;
        border-radius: 10px;
        box-shadow: 0px 0px 30px 0px rgba(255, 0, 242, 0.987), 0px 0px 30px 0px rgba(255, 0, 195, 0.987);
        
    }
    .board_object_hashtag div{
        background-color: #00000034;
        height: 30px;
        width: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        margin-top: 10px;
        
        font-size: 10px;
        font-weight: bold;
        color: #ffffff;
        margin-left: 4px;
    }
    /*편집모드*/
    .board_object_hashtag_edit_mode{
        position: relative;
        /* background-color: rgb(124, 124, 124); */
        width: 240px;
        left: 50%;
        transform: translate(-50%);
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-between; */
    }
    .board_object_hashtag_edit_mode div{
        background-color: #ffffff;
        height: 30px;
        width: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        margin-top: 10px;
        
        font-size: 10px;
        font-weight: bold;
        color: #7b68cf;
        margin-left: 4px;
        cursor: pointer;
    }
    /*게시글 정보*/
    .board_object_info{
        position: relative;
        background-color: #00000034;
        height: 20px;
        width: 150px;
        
        margin-top: 20px;
        left: 50%;
        transform: translate(-50%);
        border-radius: 5px;
        display: flex;
        justify-content: space-evenly;
    }
    .board_object_info_owner{
        /* background-color: #251666; */
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        color: #ffffff;
        font-weight: bold;
        margin-left: 10px;
        font-size: 10px;
    }
    .board_object_info_edit_container{
        height: 100%;
        /* background-color: #0d0042; */
        /* margin-left: 30px; */
    }
    .board_object_info_edit_container div{
        /* background-color: #251666; */
        width: 70px;
        margin-top: 3px;
        display: flex;
        justify-content: center;
        align-items: center;

        font-weight: bold;
        color: #ffffff;
        font-size: 10px;
    }
    /*구분라인*/
    .board_object_line{
        position: relative;
        background-color: rgb(124, 124, 124);
        height: 1px;
        width: 270px;
        
        margin-top: 20px;
        left: 50%;
        transform: translate(-50%);
    }
    /*그래프*/
    .board_object_chart_container{
        position: relative;
        background-color: #f3f3f3;
        border-radius: 20px;
        width: 230px;
        left: 50%;
        transform: translate(-50%);
        padding: 20px;
        margin-top: 10px;
        /* box-shadow: 0px 0px 1px rgb(0, 0, 0); */
    }
    /* .board_object_graph{
        position: relative;
        background-color: rgb(170, 48, 48);
        height: 140px;
        width: 240px;
        
        margin-top: 20px;
        left: 50%;
        transform: translate(-50%);   
        box-shadow: 0px 0px 1px 0px rgb(0, 0, 0), 0px 0px 1px 0px rgb(0, 0, 0);

    }
    .board_object_graph img{
        width: 100%;
        height: 100%;
    } */
    /*내용*/
    .board_object_content{
        position: relative;
        /* background-color: rgb(148, 7, 7); */
        width: 265px;
        padding-top: 3px;
        padding-left: 3px;
        
        margin-top: 20px;
        left: 50%;
        transform: translate(-50%);   

        border-left: 4px solid #372978; /* 왼쪽 경계선의 굵기와 색상을 설정합니다. */
        font-weight: bold;
        font-size: 13px;
        z-index: 1;
    }
    /*댓글 작성*/
    .board_object_commentwrite{
        position: relative;
        /* background-color: rgb(170, 48, 48); */
        height: 50px;
        width: 270px;
        padding: 10px;
        
        margin-top: 20px;
        left: 50%;
        transform: translate(-50%);   
    }
    .board_object_commentwrite_input{
        width: 100%; /* 부모 요소의 넓이에 맞게 조절 */
        resize: none; /* 사용자가 크기 조절하지 못하도록 비활성화 */
        outline: none;

        overflow: hidden; /* 내용이 넘칠 경우 숨김 처리 */
        min-height: 10px; /* 최소 높이 설정 */
        box-sizing: border-box; /* 패딩과 테두리를 포함한 크기 계산 */

        font-size: 13px;
        font-weight: bold;
        border: 2px solid #28005f; /* 테두리 색상을 여기에 지정합니다 */
        background-color: rgb(255, 255, 255);

        padding: 10px;
    }
    /*댓글 작성 버튼*/
    .board_object_commentwrite_btn{
        position: relative;
        height: 30px;
        width: 100px;
        margin-left: 85px;
        left: 50%;
        transform: translate(-50%);   
        cursor: pointer;


        background: linear-gradient(135deg, #3d26a7, #3f28a7, #3e2e87, #43328d, rgb(57, 36, 147));
        border-radius: 5px;
        border: none;
        color: #fff;
        font-size: 12px;
        font-weight: bold;
    }
    .board_object_commentwrite_btn:hover{
        background: linear-gradient(135deg, #05001a, #0d0042, #05001a);
    }
    /*댓글 리스트*/
    .board_view_review_container{
        position: relative;
        /* background-color: rgb(170, 48, 48); */
        width: 270px;
        
        margin-top: 10px;
        left: 50%;
        transform: translate(-50%); 
    }
    .board_view_review_container_list{
        /* background-color: #15004011; */
        /* background-color: aquamarine; */
        border-bottom: 2px solid #c5c5c5; /* 왼쪽 경계선의 굵기와 색상을 설정합니다. */
        /* height:65px; */
        width: 100%;
        margin-top: 20px;
        padding-top: 5px;
        padding-bottom: 10px;
    }
    .board_view_review_container_list_container{
        /* background-color: aqua; */
        width: 100%;
        /* display: flex; */
        /* justify-content: space-evenly; */
    }
    .board_view_review_container_first_line{
        display: flex;
        justify-content: space-between;
    }
    .board_view_review_container_list_1{
        /* background-color: #240b55f5; */
        height:20px;
        margin-left: 10px;
        font-size: 15px;
        font-weight: bold;
        color: #050505;

    }
    .board_view_review_container_list_3{
        /* background-color: #433264f5; */
        /* width: 200px; */

        font-size: 10px;
        color: #848484;
        margin-top: 5px;
        margin-left: 10px;
        font-weight: bold;

    }
    .board_view_review_container_list_3_btn_container{
        display: flex;
    }
    .board_view_review_container_list_3_btn_container_no_owner{
        display: none;
    }

    .board_view_review_container_list_container_btn{
        /* background-color: #240b55f5; */
        /* width: 100px; */
        background: none;
        height:20px;     
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        font-weight: bold;
        color: #000000;
    }
    .board_view_review_container_list_container_btn:hover{
        color: #a7a3d3;

        cursor: pointer;
    }
    .board_view_review_container_list_4{
        position: relative;

        /* background-color: #0000000f; */
        width: 255px;
        /* height:40px; */
        border-radius: 0px 0px 5px 5px;
        
        font-size: 15px;
        font-weight: bold;
        margin-top: 10px;
        margin-left: 8px;


        white-space: pre-wrap;
        word-break: break-word;
    }
    .board_object_footer{
        position: relative;
        /* background-color: #372978; */
        height: 300px;
        width: 600px;
        margin-top: 100px;
        left: 50%;
        transform: translate(-50%);   
    }
    /*푸터*/
    .board_object_footer_c1{
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 17px;
        font-weight: bold;
    }
    .board_object_footer_c2{
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 13px;
        font-weight: bold;
        color: #2d2d2d;
    }
    .board_object_footer_c3{
        background-color: #372978;
        height: 100px;
        width: 110px;

        font-size: 17px;
        font-weight: bold;
        margin-left: 245px;
    }
    /*고정 컨테이너*/
    .board_object_tool{
        position: relative;
        background: linear-gradient(135deg, #3d26a7, #3f28a7, #3e2e87, #43328d, rgb(57, 36, 147));
        width: 270px;
        height: 50px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50px;
        box-shadow: 0px 0px 3px rgb(0, 0, 0);
        display: flex;
        z-index: 1;
    }
    .board_object_tool_c1_btn{
        background-color: #ffffff0e;
        height: 45px;
        width: 45px;
        font-size: 10px;
        border-radius: 50px;
        border: none;

        margin-left: 10px;
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 10px;
        font-weight: bold;
        color: #fff;
        margin-top: 2.5px;
        margin-left: 55px;

    }
    .board_object_tool_c1_btn:hover{
        background-color: #00000013;
    }
    .no_board_object_tool_c1_btn{
        background-color: #6f6f6f0e;
        height: 45px;
        width: 45px;
        font-size: 10px;
        border-radius: 50px;
        border: none;

        margin-left: 10px;
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 10px;
        font-weight: bold;
        color: #7a7a7a;
        margin-top: 2.5px;
        margin-left: 50px;
    }
    .board_object_tool_c2_btn{
        background-color: #ffffff0e;
        height: 45px;
        width: 45px;
        font-size: 10px;
        border-radius: 50px;
        border: none;

        margin-left: 10px;
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 10px;
        font-weight: bold;
        color: #fff;
        margin-top: 2.5px;
        margin-left: 20px;
    }
    .board_object_tool_c2_btn:hover{
        background-color: #82828246;
    }
    .no_board_object_tool_c2_btn{
        background-color: #6f6f6f0e;
        height: 45px;
        width: 45px;
        font-size: 10px;
        border-radius: 50px;
        border: none;

        margin-left: 10px;
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 10px;
        font-weight: bold;
        color: #7a7a7a;
        margin-top: 2.5px;
        margin-left: 20px;
    }
    .star{
        width: 30px;
        height: 30px;
        margin-left: 15px;
        margin-top: 10px;
        cursor: pointer;
        margin-left: 20px;
    }
    .board_object_tool_edit_1{
        background-color: #ffffff0e;
        height: 40px;
        width: 120px;
        font-size: 16px;
        border-radius: 50px 0px 0px 50px;
        border: none;

        margin-left: 5px;
        margin-top: 5px;
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 10px;
        font-weight: bold;
        color: #fff;
    }
    .board_object_tool_edit_1:hover{
        background-color: #82828246;
    }
    .board_object_tool_edit_2{
        background-color: #ffffff0e;
        height: 40px;
        width: 120px;
        font-size: 16px;
        border-radius: 0px 50px 50px 0px;
        border: none;

        margin-left: 20px;
        margin-top: 5px;
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 10px;
        font-weight: bold;
        color: #fff;
    }
    .board_object_tool_edit_2:hover{
        background-color: #82828246;
    }
    .boardedit_mode_background{
        position: fixed;
        background-color: #000000b1;
        height: 200vh;
        width: 100%;

        top : 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        z-index: 0;
    }
}       